<style>
  *{ 
  margin: 0px;
  border: 0px ; 
  padding: 0px;
  box-sizing: 0;}
  .a{ color:tomato; background-color: aquamarine;} 
  .b{ color:darkblue; background-color: palevioletred;} 
    
  </style>

  